MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGO_DB_NAME=taskmanagerDB
REQUIRED_DB_NAME=taskmanagerDB
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
